{% extends 'writers/base.html' %}

{% block content %}
{% if user.is_authenticated %}
{{ user.username }}
<a href="/auth/logout/">Log out</a>
{% else %}
<a href="{% url 'myauth:login' %}">Log in</a>
{% endif %}

<div class="pagination container bg-light">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>



<div class="container bg-light">
  <h1 id="main-header" class="green">Welcome to Blogs!</h1>
</div>
{% comment %}
<div class="container col">
<div>Здесь вы найдете разнообразные и увлекательные статьи от разных авторов со всего мира. Мы предлагаем уникальные взгляды на самые разные темы — от путешествий до технологий, от культуры до науки. <br> 
  <br>
  <button type="button" class="btn btn-primary">
    <a class="dropdown-item"
    href="{{ url_for('about') }}" 
    >Подробнее о нас
    </a>
  </button>
  <br>
</div>
{% endcomment %}
<div class="container bg-light">
    <dl class="text-center">
        <dt class="col-sm-3">Разнообразие тем</dt>
        <dd class="col-sm-9">У нас есть статьи на самые разные темы — от искусства до политики, от спорта до науки. Вы всегда найдете что-то интересное для себя.</dd>
        <dt class="col-sm-3">Авторы-эксперты</dt>
        <dd class="col-sm-9">
            <p>Наши авторы — профессионалы в своих областях. Они делятся своим опытом, знаниями и страстью к темам, о которых пишут.</p>
        </dd>
        <dt class="col-sm-3">Сообщество</dt>
        <dd class="col-sm-9">Присоединившись к нашему блогу, вы становитесь частью большого и дружелюбного сообщества. Обменивайтесь мнениями, задавайте вопросы и находите новых друзей.</dd>
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>Оставайтесь с нами и погрузитесь в увлекательный мир блогов!</p>
            </blockquote>
        </figure>
    </dl>
</div>


<div class="container col bg-light">
<div id="span-text-clicked-times"
     class="text-upper-case"
>Clicked times: <span id="clicked-times">0</span>
</div>
<button
  id="btn-click"
  class="btn btn-outline-success"
>Понравилось!
</button>
</div>


<script>
const btnClick = document.getElementById('btn-click')
const clickedTimesSpan = document.getElementById('clicked-times')
let clickCount = 0

function increaseAndShowClicks() {
  clickCount += 1
  clickedTimesSpan.innerText = clickCount.toString()
}

btnClick.addEventListener('click', increaseAndShowClicks)
</script>

<div class="container bg-light">
    <ul>
        <li><a href="{% url 'posts' %}">Ссылка на страницу постов</a></li>
        <li><a href="{% url 'create_writer' %}">Зарегистрироваться</a></li>
        {% for writer in writers_list %}
        <li><a href="{% url 'writer_detail' writer.pk %}">Просмотреть профиль писателя {{ writer.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}