{% extends 'posts/base.html' %}

{% block title %}
	Post #{{ post.id }}
{% endblock %}

{% block body %}
  <h1>Post details</h1>
{% endblock %}


{% block content %}
    <h3 class="p-3">posts ({{ posts_qty }})</h3>
    <ul>
        {% for item in posts %}
            <li>
                {{ item.title }} ({{ item.published_at }})
            </li>
        {% endfor %}
    </ul>
    <h4>First</h4>
    <p>{{ posts.0.name }}</p>



<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}