{% extends 'posts/base.html' %}

{% block title %}
	Post #{{ post.id }}
{% endblock %}

{% block body %}
  <h1>Post details</h1>
{% endblock %}


{% block content %}
    <div class="news-details p-3">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <p><strong>Автор:</strong> {{ post.author }}</p>
        <p><strong>Дата публикации:</strong> {{ post.published_at }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}"> Читать далее</a>
    </div>

    <div class="container col">
        <div id="span-text-clicked-times"
             class="text-upper-case"
        >Clicked times: <span id="clicked-times">0</span>
        </div>
        <button
          id="btn-click"
          class="btn btn-outline-success"
        >Понравилось!
        </button>
        </div>
        
        
        <script>
        const btnClick = document.getElementById('btn-click')
        const clickedTimesSpan = document.getElementById('clicked-times')
        let clickCount = 0
        
        function increaseAndShowClicks() {
          clickCount += 1
          clickedTimesSpan.innerText = clickCount.toString()
        }
        
        btnClick.addEventListener('click', increaseAndShowClicks)
        </script>

{% endblock %}