<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        vblog
        {% endblock %}
    </title>
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}
    {{ user.username }}
    <a href="/auth/logout/">Log out</a>
    {% else %}
    <a href="{% url 'myauth:login' %}">Log in</a>
    {% endif %}
    {% endblock %}
    <footer>
        {% block footer %}
        vblog, 2024
        {% endblock %}
    </footer>
</body>

</html>