{% extends 'base.html' %}

{% block title %}
  Delete post #{{ post.id }}
{% endblock %}

{% block body %}
  <h1>
    Are you sure you want to delete
    post #{{ post.id }}
    with name <code>{{ post.title }}</code></h1>

  <form method="post" action="{{ url_for('posts_app.delete', post_id=post.id) }}">

    <a
      class="btn btn-info text-light"
      href="{{ url_for('posts_app.details', post_id=post.id) }}"
    >Back to details</a>

    <input
      class="btn btn-danger"
      type="submit"
      value="Confirm delete"
    >
  </form>
{% endblock %}
