{% extends 'base.html' %}

{% block title %}
	Post #{{ post.id }}
{% endblock %}

{% block body %}
  <h1>Post #{{ post.id }} {{ post.title }} details</h1>
    <span
      class="d-inline-block"
      tabindex="0"
      data-bs-toggle="tooltip"
      data-bs-title="Update feature is not ready yet"
    >
    <a
      class="btn btn-outline-success disabled"
      href="#"
    >Update</a>
    </span>
    <a
      class="btn btn-outline-danger"
      href="{{ url_for('posts_app.delete', post_id=post.id) }}"
    >Delete</a>
  {% include 'posts/back-to-posts-list.html' %}
{% endblock %}
