{% extends 'base.html' %}

{% block title %}
  Posts
{% endblock %}


{% block body %}
  <h1>Posts</h1>
  <div class="list-group my-3">
     {% for p in posts %}
      <a
        class="
          list-group-item
          link-primary
          list-group-item-action
          list-group-item-light
        "
        href="{{ url_for('posts_app.details', post_id=p.id) }}"
      >{{ p.title }}</a>
      <!-- sadfasdfas -->
      {#
      sdfsdfsdf

      dfsadfa
      #}
      {# {{ '{{' }}#}
      {# {{ '}}' }}#}
      {# {p}#}
      {# { p }#}
       {% endfor %}
  </div>
  <div>
    <a
      class="green"
      href="{{ url_for('posts_app.add') }}"
    >Add a new post</a>
  </div>
{% endblock %}
