{% extends 'base.html' %}

{% block title %}
	About me 
{% endblock %}

{% block body %}
  <h1>About me</h1>
  
  <div>
    В детстве, раньше чем испугаться людей, я боялся тараканов, пчёл, крыс; позднее меня стали мучить страхом грозы, вьюги, темнота.

Когда гремел гром, я до боли крепко закрывал глаза, чтоб не видеть синюю дрожь стёкол в окнах, освещаемых молниями. Кто-то внушил мне, – а может быть, я сам выдумал, – что, разрывая небо, молнии обнажают великий, геенский огонь, там, за пределами синего, видного в ясные дни. Синее – дым пожара, обнявшего весь мир, звёзды – искры пожара; в любой час земля может вспыхнуть, точно косточка вишни, брошенная в костёр, загорится, как солнце, и потом, обращённая в уголь, повиснет в небе второю луной.

Особенно я боялся темноты. Я воспринимал её не как отсутствие света, а как самостоятельную силу, враждебную ему. Когда её серая, неощутимая пыль омрачала воздух и, сгущаясь, чернея, поглощала деревья, дома, мебель в комнатах, я ждал, что пыль темноты сгустится до твёрдости камня и в ней окаменеет всё живое, окаменею я. Мне всегда хотелось пощупать тьму, я протягивал руку в неосвещённые углы и, осторожно сжимая пальцы в кулак, ощущал кожею ладони неприятный, влажный холодок. Темнота – это копоть надзвёздного пожара, разрушающего всё видимое в чёрную пыль.

Я знаю, что эти представления чрезмерно сложны для мальчика десяти – тринадцати лет, но мне кажется, что именно таковы они были у меня в те годы.

А наиболее, почти до безумия, пугал меня свист и вой зимних вьюг. В дьявольские ночи, когда всё на земле бешено кружится, качаются деревья, точно стремясь сорвать
  </div>

  <div>
    <h5></h5>
    {% include 'back-to-index.html' %}
  </div>
{% endblock %}
