{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        vblog
        {% endblock %}
    </title>
    {% block css %}
        <link
                href="{% static 'css/bootstrap.min.css' %}"
                rel="stylesheet"
        >
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>

<body class="container">
    <nav class="navbar navbar-expand-sm bg-dark-subtle">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">V-blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapsable" aria-controls="navbar-collapsable" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapsable">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link{% if request.resolver_match.view_name == 'index' %} active{% endif %}" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if request.resolver_match.view_name == 'posts' %} active{% endif %}" href="{% url 'posts' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if request.resolver_match.view_name == 'create_writer' %} active{% endif %}" href="{% url 'create_writer' %}">Зарегистрироваться</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if request.resolver_match.view_name == 'myauth' %} active{% endif %}" href="{% url 'myauth:login' %}">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %}
    {% if user.is_authenticated %}
    {{ user.username }}
    <a href="/auth/logout/">Log out</a>
    {% else %}
    <a href="{% url 'myauth:login' %}">Log in</a>
    {% endif %}

    
    {% endblock %}
    <footer class="blockquote-footer fixed-bottom">

        {% block footer %}
        &copy; vblog, 2024
        {% endblock %}

    </footer>
</body>

</html>