{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        vblog
        {% endblock %}
    </title>
    {% block css %}
        <link
                href="{% static 'css/bootstrap.min.css' %}"
                rel="stylesheet"
        >
    {% endblock %}
    {% block js %}
    {% endblock %}
    <div id="ww_97f3336519a2f" v='1.3' loc='auto' a='{"t":"ticker","lang":"ru","ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#455A64","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>Установить <a href="https://weatherwidget.org/ru/" id="ww_97f3336519a2f_u" target="_blank">HTML погодный информер для сайта</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_97f3336519a2f"></script>
</head>

<body class="container">
    <nav class="navbar navbar-expand-sm bg-dark-subtle">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">V-blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapsable" aria-controls="navbar-collapsable" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapsable">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link{% if request.resolver_match.view_name == 'index' %} active{% endif %}" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if request.resolver_match.view_name == 'posts' %} active{% endif %}" href="{% url 'posts' %}">Блоги</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <form action="{% url 'myauth:logout' %}" method="post"><a class="nav-link" href="/auth/logout/">Log out {{ user.username }}</a></form>
                        {% else %}
                        <a class="nav-link" href="{% url 'myauth:login' %}">Log in</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <form action="{% url 'myauth:profile' %}" method="post"><a class="nav-link" href="/auth/profile/">Профиль</a></form>
                        {% else %}
                        <a class="nav-link{% if request.resolver_match.view_name == 'create_writer' %} active{% endif %}" href="{% url 'create_writer' %}">Зарегистрироваться</a>
                        {% endif %}
                        
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    
    {% endblock %}
    <footer class="blockquote-footer fixed-bottom p-3">

        {% block footer %}
        &copy; vblog, 2024
        {% endblock %}

    </footer>
</body>

</html>